
* {
  box-sizing: border-box;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.left-side {
  display: inline-flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 65%;
}

.right-side {
  width: 35%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  width: 33.33333%;
  height: 33.3333vh;
}

.title-card {
  background-color: black;
  color: white;
  width: 66.6666%
}

.title-card {background: #35BC7A;}
.profile {background: #FF9E00;}
.experience {background: #1E8BC4;}
.education {background: #F15A49;}
.blog {background: #35BC7A;}
.social-menu {background: #F86925;}
.contact {background: #1E8BC4;}
.portfolio {background: #F86925;}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  background-image:
  background-repeat: no-repeat;
  background-size: cover;
}
